= form_for @actor do |f|
	- if @actor.errors.any?
		.alert.alert-danger
			%p
				%strong The following #{'error'.pluralize(@actor.errors.size)} prevented this actor from being saved:
			%ul
				- @actor.errors.full_messages.each do |msg|
					%li= msg
	.form-group
		= f.label :first_name
		= f.text_field :first_name, :class => 'form-control'
	.form-group
		= f.label :last_name
		= f.text_field :last_name, :class => 'form-control'
	.form-group
		= f.label :date_of_birth
		%br
		= f.date_select :date_of_birth, order: [:month, :day, :year], start_year: 1900, :class => 'form-control'
	= f.submit nil, :class => 'btn btn-primary'