.panel-heading
	%h1.panel-title Actors
.panel-body
	%table.table
		%tr
			%th Name
			%th DoB
			%th Movies
			%th
			%th
		- @actors.each do |a|
			%tr
				%td= link_to a.name, a
				%td= link_to a.date_of_birth.strftime("%m/%d/%Y"), a
				%td= a.movies.count
				%td= link_to 'Edit', edit_actor_path(a)
				%td= link_to 'Delete', actor_path(a), method: :delete, data: { confirm: "Are you sure you want to delete the actor '#{a.name}'?"}