.panel-heading
	%h1.panel-title #{@actor.name} (#{@actor.age})
.panel-body
	%h2 Movie Roles
	%ul
		- @actor.roles.each do |role|
			%li #{role.name} in #{link_to role.movie.title, role.movie} (#{link_to 'Edit', edit_actor_role_path(role.actor, role)} | #{link_to 'Delete', actor_role_path(role.actor, role), method: :delete, data: { confirm: "Are you sure you want to delete the role '#{role.name}'?" }})
	%p= link_to 'Add Role', new_actor_role_path(@actor), :class => "btn btn-primary"