= form_for @movie do |f|
	- if @movie.errors.any?
		.alert.alert-danger
			%p
				%strong The following #{'error'.pluralize(@movie.errors.size)} prevented this movie from being saved:
			%ul
				- @movie.errors.full_messages.each do |msg|
					%li= msg
	.form-group
		= f.label :title
		= f.text_field :title, :class => 'form-control'
	.form-group
		= f.label :year
		= f.number_field :year, :class => 'form-control'
	.form-group
		= f.label :rating
		= f.number_field :rating, :class => 'form-control'
	= f.submit nil, :class => 'btn btn-primary'