.panel-heading
	%h1.panel-title Movies
.panel-body
	%table.table
		%tr
			%th Title
			%th Year
			%th
			%th
		- @movies.each do |m|
			%tr
				%td= link_to m.title, m
				%td= link_to m.year, m
				%td= link_to 'Edit', edit_movie_path(m)
				%td= link_to 'Delete', movie_path(m), method: :delete, data: { confirm: "Are you sure you want to delete the movie '#{m.title}'?"}