.panel-heading
	%h1.panel-title #{@movie.title} (#{@movie.year})
.panel-body
	%p= @rating
	%h2 Cast
	%ul
		- @movie.roles.each do |role|
			%li #{link_to role.actor.name, role.actor} as #{role.name}
	%p= link_to 'Add Cast Member', new_movie_role_path(@movie), :class => 'btn btn-primary'