= form_for [@movie, @role] do |f|
	- if @role.errors.any?
		.alert.alert-danger
			%p
				%strong The following #{'error'.pluralize(@role.errors.size)} prevented this cast member from being saved:
			%ul
				- @role.errors.full_messages.each do |msg|
					%li= msg
	.form-group
		= f.label :name, 'Role Name'
		= f.text_field :name, :class => 'form-control'
	.form-group
		= f.label :actor_id
		%br
		= f.select :actor_id, Actor.all.collect { |a| [a.name, a.id] }, :class => 'form-control'
	= f.submit nil, :class => 'btn btn-primary'