!!! 5
%html
	%head
		%title bMDB
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags
	%body
		%nav.navbar.navbar-default
			.navbar-header
				%button.navbar-toggle.collapsed{ :type => 'button', :data => { :toggle => 'collapse', :target => '#bs-example-navbar-collapse-1' } }
					%span.sr-only Toggle Navigation
					%span.icon-bar
					%span.icon-bar
					%span.icon-bar
				= link_to 'bMDB', root_path, :class => 'navbar-brand'
			.collapse.navbar-collapse#bs-example-navbar-collapse-1
				%ul.nav.navbar-nav
					%li= link_to 'Movies', movies_path
					%li= link_to 'Add Movie', new_movie_path
					%li= link_to 'Actors', actors_path
					%li= link_to 'Add Actor', new_actor_path
		.container
			.row
				.col-md-10.col-md-offset-1
					.panel.panel-default
						= yield